
// --------------------------------
        // layout
// --------------------------------

body{
  padding: 0;
  margin: 0;
}

.all-container{
  margin: 0 auto;
  width: 70%;
  font-family: $fontpagefamily;
  font-size: $fontsizepage;
  font-weight: 300;
}

.show-code{
  background-color: $color-show-code;
  color: $color-white;
  @include respond-to($md-port){
    font-size: 10px;
  }
}

.navbar{
    width: 100%;
    background: $color-black;
    display: flex;
    padding: 10px 0px;
    &__list{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__list__element{
      display: inline-block;
      margin: 0 10px;
    }
    &__list__element a{
      color: $color-white;
      text-decoration: none;
      font-weight: $font-weight-title;
    }

    &__list__element a:hover{
      color: $color-gray;
    }
}

// termina navbar


.header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  &__image{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    width: 100%;
    z-index: -1;
    height: 100%;
    filter: brightness(50%);
  }
  &__text{
    color: $color-white;
    text-align: center;
    font-weight: 400;
  }
  &__text h1{
    font-weight: $font-weight-title;
    font-size: $fontsizetitles;
    margin: 0;
  }
  &__button{
    @include button;
    @include respond-to($md-port){
        width: 80%;

    }
  }
  &__button:hover{
    background-color: $color-black;
    color: $color-white;
  }
}

// termina portada header

.jumbotron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-gray;
  padding: 10px;
  & h1{
    font-size: $fontsizetitles;
    margin: 10px 0px;
  }
  &__line{
    background-color: $color-black;
    height: 1px;
    width: 100%;
    margin: 5px 0px;
  }
  &__button{
    @include button;
  }
  &__button{
    @include button;
    @include respond-to($md-port){
        width: 80%;
        align-self: center;
    }
  }
  &__button:hover{
    background-color: $color-black;
    color: $color-white;
  }
}

// Aqui acaba el jumbotron


.breadcrumbs{
  padding: 10px 0px;
  & ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & ul li{
    display: inline-block;
    margin: 0px 5px;

  }
  & ul li a{
    text-decoration: none;
    color: $color-blue;
    font-weight: 400;
  }
  & a:hover{
    color: $color-gray;
  }
  &  .active{
    color: $color-gray;
  }

}

// Termina breadcrumbs

.buttons{
  &__item{
    @include button;

  }

  .button1{
    background-color: $color-blue;
  }
  .button2{
    background-color: $color-gray;
    color: $color-black;
  }
  .button3{
    background-color: $color-success;
    color: $color-white;
  }
  .button4{
    background-color: $color-red;
    color: $color-white;
  }
  .button5{
    background-color: $color-yellow;
    color: $color-white;
  }
  .button6{
    background-color: $color-show-code;
      color:$color-white;

  }
  .button7{
    border: 1px solid black;
  }
  .button8{
    background-color: $color-black;
    color: $color-white;
  }
  .button9{
    color: $color-blue;
    text-decoration: underline;
  }
  &__item:hover{
    background-color: $color-black;
    color: $color-white;
  }
  
}


// Aqui termina los breadcrumbs__link
